@tailwind base;
@tailwind components;
@tailwind utilities;
.label {
  @apply text-sm font-medium text-neutral-700 mb-1 block;
}

.input {
  @apply w-full border border-neutral-300 rounded-md px-3 py-2
         focus:outline-none focus:ring-2 focus:ring-teal-500
         bg-white;
}
